#content-main {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 90vh;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

#content-main::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#content-main ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#content-main h1 {
  padding-top: 3vh;
}

#content-about,
#content-skills,
#content-services,
#content-contact {
  margin-bottom: 3vh;
}

#content-main a:active {
  color: grey;
}
#content-main a:visited {
  color: black;
}

#content-main img {
  height: 100%;
  width: auto;
  margin-bottom: 1vh;
  object-fit: cover;
}
