#content-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

#content-main ul{
  columns: 2;
  padding: 0;
  margin: 0;
  list-style: none;
}

#content-main li {
  width: 30%;
}

#content-main h1 {
  padding-top: 3vh;
}

#content-about,
#content-skills,
#content-services,
#content-contact {
  margin-bottom: 3vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: min-content;
}

#content-main a:active {
  color: grey;
}
#content-main a:visited {
  color: black;
}
